<% include ./partials/header %>
<div class="ui main text container">
    <h1 class="ui huge header">
        <img class="ui medium circular image" src="https://images.unsplash.com/photo-1541519481457-763224276691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        Welcome to my blog!
    </h1>
    <p>My name is Emma and I will mostly blog about my main interests such as coding, plants, crystals, interior and wildlife. Let's check out my posts.</p>
</div>

    <% blogs.forEach((blog) => { %>
    <div class="ui items text container segment">
        <div class="item">
            <img class="ui medium rounded image" src="<%= blog.image %>" alt="<%= blog.title %>">
            <div class="content">
                <a class="ui big header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                <div class="meta">
                    <span><%= blog.created.toLocaleString('se-SE') %></span>
                </div>
                <div class="description">
                    <p><%- blog.body.substring(0, 200)+'...' %></p>
                </div>
                <div class="extra">
                    <a class="ui inverted violet button" href="/blogs/<%= blog._id %>">Show more</a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>


<% include ./partials/footer %>